<settings>
    <profiles>
        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <username>${env.artifactory_user}</username>
                <password>${env.artifactory_apikey}</password>
                <contextUrl>${env.artifactory_url}</contextUrl>
                <buildnumber>${env.run_number}</buildnumber>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
</settings>
